html, body {
    width: 50%;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}
.container {
    width: 360px;
    align-items: center;
}
#inputField {
    width: 300px;
    height: 46px;
    border-width: 0;
    border: 3px solid black;
    outline: none;
    font-size: 25px;
    vertical-align: middle;
    border-radius: 15px;
}
#addToDo {
    height: 50px;
    width: 50px;
    border: 1px solid black;
    vertical-align: middle;
    font-size: 30px;
}
.paragraph-styling {
    margin: 0;
    cursor: pointer;
    font-size: 20px;
}
.to-dos {
    margin-top: 25px;
}
h2{
    font-family:cursive;
    color: tomato;
}
button{
    border-radius: 20px;
    background-color: cadetblue;
}
